# Ignore virtual environment directory
\venv

#Ignore build directory
build/

#Ignore data directory
/thesis/data/

# Ignore other common LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls